<%- include('layout/header') %>

<h1>Home Page Content</h1>

<!-- Home -->
<ul type="none">
  <li><a href="/welcome">HOME</a></li>
</ul>

<!-- Product -->
<ul type="square">
  <li><a href="/addProduct">Add Product</a></li>
  <li><a href="/getProducts">Get Product By Pagination</a></li>
  <li><a href="/getAllProducts">Get All Products</a></li>
</ul>

<!-- Category -->
<ul type="circle">
  <li><a href="/addCategory">Add Category</a></li>
  <li><a href="/getCategory">Get All Category</a></li>
</ul>


